body {
    font-family: Roboto san-serif;
    padding: 0px;
}

.header,
.section1 {
    background-color: #1F2937;
    display: flex;
    padding: 10px;
    align-items: center;
}

.header li,
.section1 .sectionBody  {
    font-size: 18px;
    color: #E5E7EB;
    
}

.signUpButton,
.section4,
.lowerSignUpButton {
    background-color: #3882F6;
    color: #FFFFFF;
}


.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.section1 .headingText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}


