body {
    font-family: Roboto san-serif;
    padding: 0px;
    margin: 0px;
}

.header,
.section1 {
    background-color: #1F2937;
    display: flex;
    padding: 10px;
    align-items: center;
}

.header li,
.section1 .sectionBody  {
    font-size: 18px;
    color: #E5E7EB;
    
}

.signUpButton,
.section4,
.lowerSignUpButton {
    background-color: #3882F6;
    color: #FFFFFF;
}


.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.section1 .headingText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 80px;
}

.section2 .sectionHeading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 20px 0px;
}

.section2 .sectionBody {
    display: flex;
    gap: 70px;
}

.section2 .image2 {
    border: 4px solid #3882F6;
    border-radius: 25px;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;

}

.section2 .sectionData {
    width: 180px;
    text-align: center;
}


